altgraph==0.17.5
bottle==0.13.4
cffi==2.0.0
clr_loader==0.3.1
packaging==26.2
pefile==2024.8.26
proxy_tools==0.1.0
pycparser==3.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pythonnet==3.1.0
pywebview==6.2.1
pywin32-ctypes==0.2.3
setuptools==82.0.1
typing_extensions==4.16.0
